<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Official Copr blog</li>
          <li><a href="{{ site.url }}">{{ site.url }}</a>
          <li>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> Subscribe</a></li>
          <li><a href="https://github.com/fedora-copr/fedora-copr.github.io/blob/master/README.md#how-to-write-a-post"><i class="fa fa-plus" aria-hidden="true"></i> Write a post</a></li>
          <li><a href="https://github.com/fedora-copr/fedora-copr.github.io"><i class="fa fa-code-fork" aria-hidden="true"></i> Fork me</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
